<div class="flex-container left-container">
    <div class="flex-item">
      <ul class="list-inline">
        <li class="list-inline-item">Name</li>
        <li class="list-inline-item">Price</li>
        <li class="list-inline-item">Strategy</li>
        <li class="list-inline-item"><button class="btn">Start</button></li>
        <li class="list-inline-item red"><i class="fa fa-circle" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-times" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="flex-item">
      <ul class="list-inline">
        <li class="list-inline-item">Name</li>
        <li class="list-inline-item">Price</li>
        <li class="list-inline-item">Strategy</li>
        <li class="list-inline-item"><button class="btn">Stop</button></li>
        <li class="list-inline-item green"><i class="fa fa-circle" aria-hidden="true"></i></li>
        <li class="list-inline-item"><i class="fa fa-times" aria-hidden="true"></i></li>
      </ul>
      
    </div>
    <div class="flex-item">
      <ul class="list-inline">
        <li class="list-inline-item">Name</li>
        <li class="list-inline-item">Price</li>
        <li class="list-inline-item">Strategy</li>
        <li class="list-inline-item"><button class="btn">Start</button></li>
        <li class="list-inline-item red"><!-- <i class="fa fa-circle" aria-hidden="true"></i> -->
          <i class="fa fa-refresh fa-spin"></i>
        </li>
        <li class="list-inline-item"><i class="fa fa-times" aria-hidden="true"></i></li>
      </ul>
    </div>

</div>
